@section Modals {

         <div class="modal fade" id="registry-mainregister-modal" role="dialog" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg" role="document">
                <div id="modal-content" class="modal-content modal-body border-0"></div>
            </div>
        </div>

}